#wrapper 
    {
        overflow-x: hidden;
        width: 100%;
        position: relative;
        height: 100%;
        min-height: 100vh;
    }
#logo
    {
        width: 50px;
        max-height: 50px!important;
    }
.cluster_button
    {
        border: 2px solid #858585;
        height: 40vh;
        border-radius: 2%;
        transition: 500ms;
        display: grid!important;
        text-decoration: underline;
    }
.cluster_button:hover 
    {
        background: #a8a8a8;
    }
.cluster_settings
    {
        border: solid;
        border-color: #858585;
        border-radius: 2%;
    }
.launch
    {
        background-image: url(../images/clusterpage-large.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
.logoName
    {
        max-height: 50px!important;
        width: auto;
        position: justify center;
    }